<% provide(:title, "Contact") %>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1>Contact</h1>
      <p class="lead">
        Practicing Mailers and Forms.
      </p>
    </div>
    <p class="">
       I plan to make a basic form for users to contact the admin (me) and complain about the site.
    </p>
  </div>
</div>
