<% provide(:title, 'Home')%>


<div class="jumbotron text-center">
  <h1>Welcome to the <em>Clubhouse</em>!</h1>
  <p style="width: 70%; margin: 15px auto;">A site where users can post secrets about non-users and they will never know who wrote them! (unless the sign up as well).</p>
  <%= link_to 'Register today!', new_user_path, class: 'btn btn-primary btn-lg' %>
</div>
