<% provide(:title, 'Edit Profile') %>
<% provide(:btn_text, 'Save Changes') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>Edit Profile</h1>
    <%= render 'form' %>

  </div>
</div>
