<!DOCTYPE html>
<html>
  <head>
    <!-- application_helper.rb -->
    <title><%= full_title(yield(:title))%></title>
    <%= render 'shared/rails_tags' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
